<h1>Orders</h1>
<style>
      table, th, td {
         border: 1px solid black;
         border-collapse: collapse;
      }
      th, td {
         padding-top: 10px;
         padding-bottom: 20px;
         padding-left: 30px;
         padding-right: 40px;
      }
</style>
<table>
  <thead>
    <tr>
      <th>id</th>
      <th>Name</th>
      <th>Order count</th>
    </tr>
  </thead>

  <tbody>
    <tr>
        <td><%= @address.id %></td>
        <td><%= @address.prefecture %></td>
        <td><%= @address.order_count %></td>
      </tr>
  </tbody>
</table>