<h1>Exercises</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th colspan="3">Url</th>
    </tr>
  </thead>

  <tbody>
      <tr>
        <td>Exercise 1</td>
        <td><%= link_to 'Show','/exercises/exercise1'%></td>
      </tr>
      <tr>
        <td>Exercise 2</td>
        <td><%= link_to 'Show','/exercises/exercise2'%></td>
      </tr>
      <tr>
        <td>Exercise 3</td>
        <td><%= link_to 'Show','/exercises/exercise3'%></td>
      </tr>
      <tr>
        <td>Exercise 4</td>
        <td><%= link_to 'Show','/exercises/exercise4'%></td>
      </tr>
  </tbody>
</table>